@model Asp_Labb2.Models.CourseTeacher

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CourseTeacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FkTeacherId" class="control-label">Teacher</label>
                <select asp-for="FkTeacherId" class ="form-control" asp-items="ViewBag.FkTeacherId">
                    <option value="" disabled selected>-- Select teacher --</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="FkCourseId" class="control-label">Course</label>
                <select asp-for="FkCourseId" class ="form-control" asp-items="ViewBag.FkCourseId">
                    <option value="" disabled selected>-- Select course --</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="FkStudentClassId" class="control-label">Student class</label>
                <select asp-for="FkStudentClassId" class ="form-control" asp-items="ViewBag.FkStudentClassId">
                    <option value="" disabled selected>-- Select student class --</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
